:root {
  --text-colour: #d8d8d8;
  --text-colour2: #808080;
  --bg-colour: #393936;
  --bg-colour2: #2a2a2a;
  --my-gradient: linear-gradient(to bottom right, #202020, #131313);
  --bg-colour-hover: #505050;
  --bg-colour-hover2: #474747;

  --maxwidth: 1600px;
}

.Main {
  /* background-color: #0f0f0f; */
  background-color: #0a0a0a;
  height: auto;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  padding: 0 10% 0 10%;
  align-items: center;
}
.Personal_Top {
  display: flex;
  gap: 15px;
  height: 300px;
  max-width: var(--maxwidth);
  width: 100%;
}
.Intro {
  display: flex;
  background-image: var(--my-gradient);
  flex: 1;
  align-items: center;
  border-radius: 15px;
  gap: 25px;
}
.Profile_Img {
  flex: 0.6;
}

.Profile_Img img {
  width: 200px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 15px;
  min-width: 180px;
}
.Profile_Content {
  color: var(--text-colour2);
  flex: 1;
  padding: 0 15px 0 0;
}
.Intro_Top_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}
.Type_js_Intro {
  height: 80px;
  background-image: var(--my-gradient);
  color: var(--text-colour);
  border-radius: 15px;
  padding: 8px;
}
.About_me {
  display: flex;
  text-align: center;
  height: 100%;
  gap: 15px;
  min-width: 460px;
}

.About_MeCard {
  flex: 1;
  background-image: var(--my-gradient);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.About_MeCard_content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  transform: translateY(-10px);
  color: var(--text-colour2);
  text-align: left;
}

.About_MeCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.About_MeCard:hover .bi-arrow-right-circle {
  color: var(--text-colour); /* Replace with the color you want */
}

/* Personal_bottom */
.Personal_Botm {
  margin-top: 15px;
  display: flex;
  max-width: var(--maxwidth);
  height: 350px;
  column-gap: 10px;
  width: 100%;
}

.CV_Portfo {
  flex: 1;
  background-image: var(--my-gradient);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  min-width: 250px;
}

.CV_Portfo_content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  /* transform: translateY(20px); */

  color: var(--text-colour2);
  text-align: left;
}

.CV_Portfo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.CV_Portfo:hover .bi-arrow-right-circle {
  color: #fff;
}

.CV_Img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.CV_Img img {
  width: 200px;
}

/* Contact */
.bi {
  font-size: 2.5rem;
}

.SocialMedia_Wrap {
  width: 250px;
  height: 200px;
  /* background-color: #d8d8d8; */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.SocialMedia {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.SocialMedia i {
  background-color: var(--bg-colour2);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--text-colour);
  transition: all 0.2s ease-in-out;
}

.SocialMedia i:hover {
  background-color: var(--bg-colour-hover2);
  transform: translateY(-5px);
}
/* Skilss */
/* home.css */

.TopSkills {
  display: flex;
  flex: 2;
  align-items: center; /* Aligns children (skills) vertically in the center */
  justify-content: center; /* Aligns children (skills) horizontally in the center */
  flex-direction: column;
  background-image: var(--my-gradient);
  border-radius: 25px;
}

.Skills_Container {
  /* Adjust the following properties as needed */
  max-width: 550px; /* Max width for the CV image container */
  max-height: 200px; /* Max height for the CV image container */
  overflow: hidden; /* Ensures content doesn't spill out */
}
/* Add styles for the Skills component as necessary */
.Skills_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transform: translateY(30px);

  color: var(--text-colour2);
  text-align: center;
}

/* Personal_Experience */
.Personal_Experience {
  /* Dark background */
  display: flex;
  height: 300px;
  color: #fff; /* White text for visibility on dark bg */
  align-items: center; /* Vertically center the content */
  max-width: var(--maxwidth);
  width: 100%;
  margin-top: -25px;
  gap: 5px;
}

.Personal_Exp {
  flex: 1; /* Adjusted for more space for the cards */
  display: flex;
  gap: 10px;
  min-width: 710px;
}

.Personal_Exp_Card {
  flex: 1;
  background-image: var(
    --my-gradient
  ); /* Slightly lighter card bg for contrast */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between icon and text */
}

.Personal_Exp_Card div:nth-child(2) {
  font-size: 1rem; /* Smaller font for the description */
}

.icon {
  font-size: 3rem; /* Adjust icon size */
  color: var(--text-colour); /* Bootstrap primary color for the icons */
}

.Personal_Exp_CTA {
  flex: 0.3; /* Smaller flex value for the CTA section */
  background-color: #1a1a1a; /* Matching the cards bg */
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space out text and arrow icon */
  align-items: center;
  font-size: 1.5rem; /* Larger font for CTA text */
  cursor: pointer; /* Hand cursor on hover */
  transition: all 0.3s;
}

.Personal_Exp_CTA:hover {
  background-color: #007bff; /* Highlight the CTA on hover */
  color: #0a0a0a; /* Dark text on light bg for the hover state */
  transform: scale(1.05);
  transition: transform 0.3s ease-out; /* Smooth transition */
}
.Personal_Exp_CTA i {
  font-size: 2rem; /* Larger arrow icon */
  color: #fff; /* White icon */
}

/* Additional hover effects for cards */
.Personal_Exp_Card:hover {
  background-color: #333333; /* Slightly lighter bg on hover */
  transform: translateY(-8px); /* Lift the card up a bit */
  transition: background-color 0.3s, transform 0.3s ease-out; /* Smooth transition */
  cursor: pointer;
}

.Font_Focus {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1350px) {
  .Main {
    padding: 0 5% 0 5%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) and (max-width: 1350px) {
  .Main {
    padding: 0 2%;
  }

  .CV_Portfo {
    flex: 0.5;
  }
  .CV_Portfo img {
    width: 180px;
  }
  .SocialMedia i {
    width: 85px;
    height: 85px;
  }
  .SocialMedia {
    justify-content: center;
  }
  .TopSkills {
    flex: 1;
  }
  .SocialMedia_Wrap {
    margin-bottom: 8px;
  }
}

/* Large devices (desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .Main {
    padding: 0px 15px;
    height: 1150px;
  }

  .CV_Portfo {
    flex: 0.5;
  }
  .CV_Portfo img {
    width: 180px;
  }
  .SocialMedia i {
    width: 85px;
    height: 85px;
  }
  .SocialMedia {
    justify-content: center;
  }
  .TopSkills {
    flex: 1;
    width: 350px;
    overflow: hidden;
  }
  .SocialMedia_Wrap {
    margin-bottom: 8px;
  }
}

/* Large devices (tablet) */
@media (max-width: 992px) {
  .Main {
    padding: 2%;
    height: auto;
  }

  .Personal_Top {
    flex-direction: column;
    margin: 0;
  }
  /* Reset any specific margins or paddings that could be causing issues */
  .Personal_Top > *,
  .Personal_Botm > * {
    margin: 0;
    padding: 0;
  }

  /* Remove any fixed heights and use min-height if necessary */
  .Personal_Top,
  .Personal_Botm,
  .Personal_Experience {
    min-height: auto; /* Or some other appropriate value */
    height: auto; /* This will allow the containers to grow with the content */
  }

  .About_MeCard_content {
    transform: translateY(0px);
  }
  .About_MeCard {
    min-height: 200px;
  }
  .About_MeCard img {
    margin-bottom: auto;

    height: 120px;
  }
  .Personal_Botm {
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
  }

  .TopSkills {
    order: 2;
  }

  .Skills_content {
    transform: translateY(0px);
  }

  .Personal_Experience {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }

  .Personal_Exp {
    min-width: 550px;
    width: 100%;
  }

  .Personal_Exp_Card {
    gap: 0px;
    padding: 10px;
  }

  .Personal_Exp_Card div:nth-child(2) {
    font-size: 1.5rem;
  }
}

/* Large devices (tablet) */
@media (max-width: 600px) {
  .Personal_Experience {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .Personal_Exp {
    flex-direction: column;
    width: 100%;
    min-width: 250px;
  }

  .TopSkills {
    min-width: 400px;
    overflow: hidden;
  }
}

/* Large devices (phone) */
@media (max-width: 456px) {
  .Intro {
    flex-direction: column;
    padding-top: 10px;
  }
  .Profile_Content {
    padding-left: 10px;
  }
  .Profile_Img img {
    width: 160px;
    height: 160px;
  }
  .About_me {
    flex-direction: column;
    width: 100%;
    min-width: 250px;
  }
  .TopSkills {
    min-width: 300px;
    overflow: hidden;
  }
}
